.home-header {
  height: 200px;
}
.home-header-title {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 16px;
  position: relative;
  background: llinear-gradient(90deg, #fff 0%, #000 100%);
  width: 100%;
  text {
    color: #623ca9;
    font-weight: 600;
  }
}
.home-logo {
  position: absolute;
  width: 100px;
  height: 100%;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
}
